$spaceamounts: (0, 1, 2, 3, 4, 5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55, 60, 65, 69, 70, 71, 72, 73, 74, 75, 100); // Adjust this to include the pixel amounts you need.
$sides: (top, bottom, left, right); // Leave this variable alone

@each $space in $spaceamounts {
  @each $side in $sides {
    .m-#{str-slice($side, 0, 1)}-#{$space} {
      margin-#{$side}: #{$space}px !important;
    }
  
    .p-#{str-slice($side, 0, 1)}-#{$space} {
      padding-#{$side}: #{$space}px !important;
    }
  }
}



@mixin valign () {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
@mixin valign-left () {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: flex-start;
}

@mixin valign-right () {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: flex-end;
}

@mixin valign-right-bottom () {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  align-items: flex-end;
}

@mixin clear () {
  &:after {
      content: "";
      display: block;
      clear: both;
  }
}
