@import "variables";

@import '~font-awesome/scss/font-awesome';

// // Bulma
@import '~bulma/bulma';
@import '~bulma-extensions/dist/css/bulma-extensions.min';

// //Buefy
@import '~buefy/lib/buefy';
@import '~vue-loaders/dist/vue-loaders.css';




@import "helpers";
@import "mix";
@import "admin";
@import "base";
@import "queries";
@import "light";
@import "menu";


html,body {
    overflow-x: hidden;
}

[v-cloak] {
    display: none;
  }


  .pad-sm {
    @include screentwo-max {
        padding-left: 15px;
        padding-right: 15px;
    }
}